*.img
*.xz
*.iso
*.raw
*.tar.gz
*.box
*.log
data/minceraft/instances/1.21.4/.minecraft/authlib-injector.log
data/minceraft/instances/1.21.4/.minecraft/logs
data/minecraft/*
data/minceraft/*/
!data/minecraft/instances
!data/minecraft/ultimmc.cfg.def
!data/minecraft/instances/
!data/minecraft/run_mine.sh
output/
build/
xbps-cache
xbps-cachedir*
stamps*
!dracut/*/*.sh
!packer/scripts/*.sh
void-live-*/
distdir-*/
release/
packer/cloud-*/
packer/vagrant-*/
mklive-build*/
