*.img
*.xz
*.iso
*.raw
*.tar.gz
*.box
*.log
data/minceraft/*.log
data/minceraft/ultimmc.cfg
data/minceraft/instances/1.21.4/.minecraft/logs
data/minceraft/instances/1.21.4/.minecraft/*.log
data/minceraft/meta*/
data/minceraft/assets/
output/
build/
xbps-cache
xbps-cachedir*
stamps*
!dracut/*/*.sh
!packer/scripts/*.sh
void-live-*/
distdir-*/
release/
packer/cloud-*/
packer/vagrant-*/
mklive-build*/
